<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    <link th:href="@{/css/layout.css}" rel="stylesheet"/>
    <title>Directory List</title>
</head>

<body>
    <div id="container">
        <!-- content -->
        <div id="header">
            <div class="util_area">
                <div class="layout">
                    <a href="/">
                        <h1>SMSF AVT</h1>
                    </a>
                    <ul class="util_menu_list">
                        <li>
                                <span class="txt">
                                    환영합니다.
                                </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="menu_area">
            <div class="layout">
                <h1 class="h1_logo">
                    <a href="/smsfai" class="sp_com">KT SMSF</a>
                </h1>
                <!-- gnb -->
                <div id="gnb">
                    <ul class="gnb_list">
                        <li><a href="/scenList"><span>시나리오 조회</span></a></li>

                        <li><a href="/pkgList"><span>패키지(PKG) 조회</span></a></li>

                        <li><a href="/verification/verify"><span>시나리오 생성</span></a></li>

                        <li><a href="/verification/verify"><span>패키지(PKG) 생성</span></a></li>

                        <li><a href="/management/noticemanagement/list"><span>공지사항</span></a></li>
                    </ul>
                </div>
                <!-- //gnb -->
            </div>
        </div>
    </div>
    <h1>AVT Package Directory Contents</h1>
    <ul>
        <!-- Iterate over the file list and display -->
        <select id="fileSelect" multiple>
            <option th:each="file : ${files}" th:value="${file}" th:text="${file}"></option>
        </select>
    </ul>

    <button onclick="handleRequest()">요청</button>

    <script th:inline="javascript">
        function handleRequest() {
            var select = document.getElementById('fileSelect');
            var selectedValues = [];

            for (var i = 0; i < select.options.length; i++) {
                if (select.options[i].selected) {
                    selectedValues.push(select.options[i].value);
                }
            }

            var xhr = new XMLHttpRequest();

            xhr.open('POST', '/validationRequest', true);
            xhr.setRequestHeader('Content-Type', 'application/json');

            var requestData = JSON.stringify({
                selectedValues : selectedValues
            });

            xhr.send(requestData);

            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        consol.log('서버 응답 : ', xhr.responseText);
                    } else {
                        console.error('서버 응답 오류 : ', xhr.status);
                    }
                }
            };

            console.log('Selected Value : ', selectedValues);
        }
    </script>
</body>
</html>